$primary: #6c11f4;
$dark: #160829;
$light: #ede8e1;

$body-bg: #f7f4f0;
$body-color: #17092a;
$body-bg-dark: #200c3b;
$body-color-dark: #faf2e5;

$headings-font-family: "Barlow Condensed", sans-serif;

$border-radius: 1rem;

// $enable-btn-base: false;
