<div class="vstack flex-wrap">
  <a href="#" class="link-base-1">link base-1</a>
  <a href="#" class="link-base-2">link base-2</a>
  <a href="#" class="link-base-3">link base-3</a>
  <a href="#" class="link-base-4">link base-4</a>
  <a href="#" class="link-base-5">link base-5</a>
  <a href="#" class="link-base-6">link base-6</a>
  <a href="#" class="link-base-7">link base-7</a>
  <a href="#" class="link-base-8">link base-8</a>
</div>
