<div class="vstack gap-3 p-3 bg-base-1">
  <div class="hstack gap-3">
    <button class="btn btn-base-1">Button</button>
    <button class="btn btn-base-1" disabled>Disabled</button>
    <button class="btn btn-outline-base-1">Button</button>
    <button class="btn btn-outline-base-1" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-2">Button</button>
    <button class="btn btn-base-2" disabled>Disabled</button>
    <button class="btn btn-outline-base-2">Button</button>
    <button class="btn btn-outline-base-2" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-3">Button</button>
    <button class="btn btn-base-3" disabled>Disabled</button>
    <button class="btn btn-outline-base-3">Button</button>
    <button class="btn btn-outline-base-3" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-4">Button</button>
    <button class="btn btn-base-4" disabled>Disabled</button>
    <button class="btn btn-outline-base-4">Button</button>
    <button class="btn btn-outline-base-4" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-i1">Button</button>
    <button class="btn btn-base-i1" disabled>Disabled</button>
    <button class="btn btn-outline-base-i1">Button</button>
    <button class="btn btn-outline-base-i1" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-i2">Button</button>
    <button class="btn btn-base-i2" disabled>Disabled</button>
    <button class="btn btn-outline-base-i2">Button</button>
    <button class="btn btn-outline-base-i2" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-i3">Button</button>
    <button class="btn btn-base-i3" disabled>Disabled</button>
    <button class="btn btn-outline-base-i3">Button</button>
    <button class="btn btn-outline-base-i3" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-base-i4">Button</button>
    <button class="btn btn-base-i4" disabled>Disabled</button>
    <button class="btn btn-outline-base-i4">Button</button>
    <button class="btn btn-outline-base-i4" disabled>Disabled</button>
  </div>
  <div class="hstack gap-3">
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-primary" disabled>Disabled</button>
    <button class="btn btn-outline-primary">Button</button>
    <button class="btn btn-outline-primary" disabled>Disabled</button>
  </div>
</div>
