<div class="hstack">
  <div class="p-3 text-bg-base-1">base-1</div>
  <div class="p-3 text-bg-base-2">base-2</div>
  <div class="p-3 text-bg-base-3">base-3</div>
  <div class="p-3 text-bg-base-4">base-4</div>
  <div class="p-3 text-bg-base-5">base-5</div>
  <div class="p-3 text-bg-base-6">base-6</div>
  <div class="p-3 text-bg-base-7">base-7</div>
  <div class="p-3 text-bg-base-8">base-8</div>
</div>