<div class="vstack flex-wrap">
  <a href="#" class="link-base-1">link base-1</a>
  <a href="#" class="link-base-2">link base-2</a>
  <a href="#" class="link-base-3">link base-3</a>
  <a href="#" class="link-base-4">link base-4</a>
  <a href="#" class="link-base-i1">link base-i1</a>
  <a href="#" class="link-base-i2">link base-i2</a>
  <a href="#" class="link-base-i3">link base-i3</a>
  <a href="#" class="link-base-i4">link base-i4</a>
</div>
