<!-- This example contains basic dev-toolbar styles without the collapse wrapper -->
<div class="dev-toolbar">
  <div class="dev-toolbar-body">
    Development
    <span class="flex-fill"></span>
    <div class="hstack gap-2">
      <a
        href="#"
        class="link-light"
        >GitHub</a
      >
      <a
        href="#"
        class="link-light"
        >Firebase</a
      >
      <a
        href="#"
        class="btn btn-sm btn-light"
        >UI Kit</a
      >
    </div>
  </div>
</div>

<br />

<!-- This example expands on hover -->
<div class="dev-toolbar-collapse-container">
  <div class="dev-toolbar-collapse">
    <div class="dev-toolbar">
      <div class="dev-toolbar-body">
        Development
        <span class="flex-fill"></span>
        <div class="hstack gap-2">
          <a
            href="#"
            class="link-light"
            >GitHub</a
          >
          <a
            href="#"
            class="link-light"
            >Firebase</a
          >
          <a
            href="#"
            class="btn btn-sm btn-light"
            >UI Kit</a
          >
        </div>
      </div>
    </div>
  </div>
</div>