<div class="dev-note">
  This is a development note. This is intended to only show up in development
  mode and it should be hidden in production. This is great for reminders,
  to-dos and anything else you don't want the end user to see.
</div>

<div
  class="dev-note"
  style="--bse-dev-note-title: 'Custom Text'"
>
  The title can be modified if you would like something other than "Dev Note."
</div>
