<div class="dev-note">
  This is a development note.
</div>

<div
  class="dev-note"
  style="--bse-dev-note-title: 'Custom Text'"
>
  The title can be modified if you would like something other than "Dev Note."
</div>
