<div class="container">
  <div class="text-bg-light p-3">
    <code>.container</code><br />
    Default behavior
  </div>
</div>

<div class="container container-max-md">
  <div class="text-bg-light p-3">
    <code>.container.container-max-md</code><br />
    Container is never larger than it is on the medium breakpoint.
  </div>
</div>

<div class="container-lg container-max-lg">
  <div class="text-bg-light p-3">
    <code>.container-lg.container-max-lg</code><br />
    Container is fluid until the large breakpoint and never gets larger after the large breakpoint.
  </div>
</div>