<div class="mt-4">
  <button class="btn" onclick="toggleTheme()">
    Toggle Theme
  </button>
</div>

<script>
  const savedTheme = localStorage.getItem("theme");
  document.body.setAttribute("data-bs-theme", savedTheme);

  function toggleTheme() {
    const currentTheme = document.body.getAttribute("data-bs-theme");
    const newTheme = currentTheme === "light" ? "dark" : "light"
    document.body.setAttribute(
      "data-bs-theme",
      newTheme
    );
    localStorage.setItem('theme', newTheme)
  }
</script>
