$bse-prefix: "bse-" !default;

$dev: $red !default;
$dev-secondary: shade-color($red, 50%);

.dev-note {
  padding: $card-spacer-y $card-spacer-x;
  border-radius: $border-radius;
  background: $dev;
  color: color-contrast($dev);
  position: relative;
  border: 1px solid $dev;
  margin-bottom: $spacer;
  &::before {
    content: var(--#{$bse-prefix}dev-note-title, "Dev Note");
    display: block;
    background: $dev-secondary;
    color: color-contrast($dev-secondary);
    font-weight: bolder;
    padding: ($card-spacer-x * 0.5) $card-spacer-y;
    top: 0;
    border-top-right-radius: calc($border-radius - 1px);
    border-top-left-radius: calc($border-radius - 1px);
    margin-right: -$card-spacer-x;
    margin-left: -$card-spacer-x;
    margin-top: -$card-spacer-y;
    margin-bottom: $card-spacer-y;
    border-bottom: 1px dashed $dev;
  }
}

.dev-mq-helper {
  &::before {
    content: "xs";
    text-transform: uppercase;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dev;
    color: color-contrast($dev);
    border-radius: $border-radius-pill;
    opacity: .8;
    z-index: $zindex-toast;
    position: fixed;
    bottom: $spacer;
    right: $spacer;
    pointer-events: none;
  }
}
@each $key, $value in $grid-breakpoints{
  @include media-breakpoint-up($key) {
    .dev-mq-helper::before{
      content: '#{$key}';
    }
   }

}
